@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

html, body {
    font-family: 'Finger Paint', cursive;
    line-height: 2;

}

section {
    width: 860px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

canvas {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    align-self: center;
}